.apply_show{
    width: 66%;
    /*background-color: #fff;*/
    margin: 2%;
}
.apply_show_title{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 2%;
    background-color: #333333;
    color: #fff;
}
.apply_show_title>a{
    color: yellow!important;
    text-decoration: underline;
    font-size: 14px;
}




.college_suit,.product_suit{
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    margin: 2% 0;
    padding: 1%;
}
.college_suit>a,.product_suit>a{
    float: right;
    margin-top: 24px;
}
.product_suit_title,.college_suit_title{

}
.product_suit_some,.college_suit_some{

}
.product_suit_each,.college_suit_each{
    position: relative;
    display: inline-block;
    width: 21.7%;
    height: 100%;
    margin: 1% 0 1% 3%;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
}
.product_suit_each{
    box-shadow: 2px 2px 2px #ccc;
}
.college_suit_each{
    box-shadow: 0px 0px 5px #ccc;
}
.product_suit_each>p,.college_suit_each>p{
    width: 100%;
    overflow: hidden;
}
.product_suit_each img,.college_suit_each img{
    width: 100%;
    border-bottom: 1px solid #ccc;
    transition: ease-in 0.5s;
}
.product_suit_each img:hover,.college_suit_each img:hover{
    transform: scale(1.1);
}
.product_suit_each_desc,.college_suit_each_desc{
    margin-top: 6px;
    font-size: 13px;
}
.price{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.new_price{
    font-size: 16px;
    color: #a22020;
    font-weight: bold;
    margin-left: 12px;
}
.old_price{
    font-size: 9px;
    margin-left: 10px;
    text-decoration: line-through;
}
.add_to_car{
    text-align: center;
    background-color: yellow;
    width: 50%;
    margin: 5% auto;
    padding: 3%;
    border: 1px solid #ccc;
    cursor: pointer;
}
.add_to_car:hover{
    box-shadow: 0 0 10px #ccc inset;
    background-color: #a22020
}
.add_to_car:active{
    box-shadow: 0 0 5px yellow;
}

.product_suit_each_name,.college_suit_each_name{
    display: block;
    color: #333!important;
    font-weight: 700;
}
.college_suit_each_desc p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ccc;
    text-align: center;
    padding: 2px;
}
.college_suit_each_name_en{
    font-size: 10px;
}
.college_suit_each_locate{
    font-size: 11px;
}




.apply_body{
    position: absolute;
    right: 2%;
    top: 0;
    width: 27%;
    background-color: #fff;
    font-size: 12px;
    border: 1px solid #cccccc;
    padding: 5px;
}
.apply_body_form{

}
.apply_body_label{
    width: 20%;
    text-align: right;
    float: left;
    margin-right: 4%;
    line-height: 320%;
}
.apply_body_base{
    width: 60%;
    text-align: center;
    padding: 3%;
    margin: 1.7% 0;
    border: 1px solid #ccc;
    outline: none;
}
.apply_body_base>option{
    padding: 5px 0;
}
.apply_body_time{
    composes: apply_body_base;
    width: 54%;
}
.apply_body_btn_label{
    composes: apply_body_label;
    visibility: hidden;
}
.apply_body_btn{
    composes: apply_body_base;
    background-color: yellow;
}