.category{
    width: 88%;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 16px;
}
.category_each{
    /*background-color: #6dcff6;*/
    border-bottom: 1px dotted #cccccc;
    margin: 10px;
    padding: 10px;
}
/*.category_each:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}*/
.category_each>span{
    display: inline-block;
    padding: 3px;
    margin: 3px;
    font-weight: 800;
}
.category_each>ul{
    display: inline-block;
    margin-left: 16px;
}
.category_each li{
    padding: 3px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*background-color: yellow;*/
    margin: 6px 5px;
    cursor: pointer;
}
.category_each li:hover{
    background-color: yellow;
}
.category_each li:active{
    box-shadow: 0 0 5px #ccc;
}


.expert_each{
    display: inline-block;
    width: 18%;
    height: 100%;
    margin: 1% 0 1% 1.5%;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}
.expert_each a{
    width: 100%;
    overflow: hidden;
}
.expert_each>p{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.expert_each img{
    width: 100%;
    border-bottom: 1px solid #ccc;
    transition: 1s;
}
.expert_each img:hover{
    transform: scale(1.1);
}
.expert_each_desc>p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 180%;
}
.expert_name{
    margin-top: 3px;
    font-weight: 700;
}
.expert_tag,.expert_locate{
    font-size: 11px;
}