.findpwd_header{
    height: 20%;
    line-height: 800%;
}
.findpwd_header>a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}
.findpwd_header_img{
    display: inline-block;
    vertical-align: middle;
}
.findpwd_header_title{
    display: inline-block;
    margin-left: 2%;
    font-size: 16px;
    font-weight: 600;
}
.findpwd_header_title a{
    text-decoration: none;
}
.findpwd_header_tobase{
    float: right;
    margin-right: 3%;
    font-size: 12px;
    color: #333;
}
.findpwd_header_toregister{
    composes: findpwd_header_tobase
}
.findpwd_header_tologin{
    composes: findpwd_header_tobase
}



.findpwd_body{
    min-width: 380px;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -20%;
    /*margin-top: -5%;*/
    background-color: rgba(255, 255, 255, 0.69);
    padding: 1%;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    border-radius: 5px;
}
.findpwd_body_hover{
    float: right;
    cursor: pointer;
    color: yellow;
}
.findpwd_body_title{
    text-align: center;
}
.findpwd_body_form{

}
.findpwd_body_label{
    width: 22%;
    text-align: right;
    float: left;
    margin-right: 2%;
    line-height: 300%;
}
.findpwd_body_base{
    display: inline-block;
    width: 60%;
    text-align: center;
    padding: 2%;
    margin: 1%;
    border: 2px solid #b5dbec;
    border-radius: 5px;
}
.findpwd_body_userType{
    background-color: #ffffff;
    composes: findpwd_body_base
}
.user_type{
    margin: 0 40px;
}
.findpwd_body_text{
    composes: findpwd_body_base
}
.findpwd_body_validate{
    composes: findpwd_body_base;
    width: 40%;
}
.findpwd_body_getvali{
    position: absolute;
    margin-left: 2%;
    margin-top: 1.2%;
    padding: 1.7%;
    border: 2px solid #b5dbec;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.findpwd_body_getvali:active{
    box-shadow: 0 0 8px #b5dbec;
}
.findpwd_body_pwd{
    composes: findpwd_body_base
}
.findpwd_body_btn{
    composes: findpwd_body_base;
    width: 65%;
    margin: 2% 0 2% 25%;
    background-color: yellow;
}