<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinker.mapper.ShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.thinker.domain.ShoppingCart" >
    <id column="shoppingcart_id" property="shoppingcartId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="shoppingcart_time" property="shoppingcartTime" jdbcType="TIMESTAMP" />
    <result column="shoppingcart_buycount" property="shoppingcartBuycount" jdbcType="INTEGER" />
    <collection property="goods" ofType="com.thinker.domain.Goods">
      <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
      <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
      <result column="goods_price" property="goodsPrice" jdbcType="VARCHAR" />
      <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
      <result column="goods_target" property="goodsTarget" jdbcType="VARCHAR" />
      <result column="goods_time" property="goodsTime" jdbcType="TIMESTAMP" />
      <result column="goods_picture" property="goodsPicture" jdbcType="VARCHAR" />
      <result column="goods_introduction" property="goodsIntroduction" jdbcType="LONGVARCHAR" />
      <result column="goods_successcount" property="goodsSuccesscount" jdbcType="INTEGER" />
      <result column="goods_status" property="goodsStatus" jdbcType="INTEGER" />
      <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <delete id="deleteShoppingCartByShoppingCartId" parameterType="java.lang.Integer" >
    delete from shoppingcart
    where shoppingcart_id = #{shoppingcartId,jdbcType=INTEGER}
  </delete>

  <insert id="insertShoppingCart" parameterType="com.thinker.domain.ShoppingCart" >
    insert into shoppingcart (user_id, goods_id,shoppingcart_time,shoppingcart_buycount)
    values (#{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{shoppingcartTime,jdbcType=TIMESTAMP}, #{shoppingcartBuycount,jdbcType=INTEGER})
  </insert>

  <select id="selectAllShoppingCartByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select shoppingcart.*,goods.* from shoppingcart,goods where shoppingcart.user_id = #{userId,jdbcType=INTEGER} AND shoppingcart.goods_id = goods.goods_id order by shoppingcart.shoppingcart_time DESC
  </select>

  <select id="selectShoppingCartBYShoppingCartId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from shoppingcart where shoppingcart_id = #{shoppingcartId,jdbcType=INTEGER}
  </select>

  <select id="selectShoppingCartByShoppingCartIdList" resultMap="BaseResultMap" parameterType="java.util.List" >
    select shoppingcart.*,goods.goods_price from shoppingcart,goods where shoppingcart.shoppingcart_id IN (
    <foreach collection="list" item="item" index="index" separator=",">
      #{item}
    </foreach>
    )
    and shoppingcart.goods_id = goods.goods_id
  </select>

  <update id="updateShoppingCart" parameterType="com.thinker.domain.ShoppingCart" >
    update shoppingcart
    set goods_id = #{goodsId,jdbcType=INTEGER},
      shoppingcart_time = #{shoppingcartTime,jdbcType=TIMESTAMP},
      shoppingcart_buycount = #{shoppingcartBuycount,jdbcType=INTEGER}
    where shoppingcart_id = #{shoppingcartId,jdbcType=INTEGER}
  </update>

  <update id="updateShoppingCartGoodsCount" parameterType="java.lang.Integer" >
    update shoppingcart
    set shoppingcart_buycount = #{goodsCount,jdbcType=INTEGER}
    where shoppingcart_id = #{shoppingCartId,jdbcType=INTEGER}
  </update>
</mapper>