<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinker.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.thinker.domain.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_age" property="userAge" jdbcType="INTEGER" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_campus" property="userCampus" jdbcType="VARCHAR" />
    <result column="user_major" property="userMajor" jdbcType="VARCHAR" />
    <result column="user_education" property="userEducation" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_headpicture" property="userHeadPicture" jdbcType="VARCHAR" />
    <result column="user_location" property="userLocation" jdbcType="VARCHAR" />
    <result column="user_gpa" property="userGpa" jdbcType="DOUBLE" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="expert_id" property="expertId" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectUserIdByTel" resultType="java.lang.Object" parameterType="java.lang.String" >
    select user.user_id from user where user.user_tel = #{tel,jdbcType=VARCHAR} UNION
    select expert.expert_id from expert where expert.expert_tel = #{tel,jdbcType=VARCHAR}
  </select>

  <select id="selectUserByUserTel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from user where user_tel = #{userTel,jdbcType=VARCHAR}
  </select>

  <select id="selectAllUserOfExpert" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from user where expert_id = #{expertId,jdbcType=INTEGER}
  </select>

  <select id="selectExpertIdByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select expert_id from user where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insertUser" parameterType="com.thinker.domain.User" >
    insert into user (user_pwd, user_tel, user_type)
    values (#{userPwd,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR},#{userType,jdbcType=INTEGER} )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.thinker.domain.User" >
    update user
    set user_tel = #{userTel,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_campus = #{userCampus,jdbcType=VARCHAR},
      user_major = #{userMajor,jdbcType=VARCHAR},
      user_education = #{userEducation,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_location = #{userLocation,jdbcType=VARCHAR},
      user_headpicture = #{userHeadPicture,jdbcType=VARCHAR},
      user_gpa = #{userGpa,jdbcType=DOUBLE}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <update id="userBindExpert" parameterType="java.lang.Integer" >
    update user
    set expert_id = #{expertId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectAllUser" resultMap="BaseResultMap" >
    select * from user
  </select>

  <select id="selectUserByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from user where user_id = #{userId,jdbcType=INTEGER}
  </select>

</mapper>